---
// eslint-disable-next-line prettier/prettier
import MainLayout from "../../layouts/MainLayout.astro";
import LargeImagesWrapper from "@/components/providersWrappers/LargeImagesWrapper";
---

<MainLayout title="Test dużych obrazów | CacheTest PWA">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Test dużych obrazów</h1>
    <p class="mb-6 text-muted-foreground">
      Testuj wydajność różnych strategii cache'owania dla dużych zasobów
      obrazowych.
    </p>

    <LargeImagesWrapper client:load />
  </div>
</MainLayout>
